# Noyau & Data
numpy>=1.24
pandas>=2.0
scipy>=1.11

# Machine Learning & Explicabilité (Ton domaine !)
scikit-learn>=1.4
xgboost>=2.0
lightgbm>=4.3
imbalanced-learn>=0.12
shap>=0.44

# Interface & Visualisation
streamlit>=1.33
matplotlib>=3.8
seaborn>=0.13

# Tests & Utilitaires
pytest>=8.0
joblib>=1.3